body{
    background-color: rgb(247, 243, 4);
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: italic;
    font-size: 28px;
    color: blueviolet;
    text-align: justify;
    line-height: 2.7;
    text-indent: 40px;
    word-spacing: 10px;
    text-shadow: 10px -2px 5px rgba(0, 0, 0, 0.5);
}
a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 20px;
}